.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes float {
  0% {
    margin-top: 0px;
  }
  66% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0px;
  }
}
.circle {
  margin-top: 0px;
  box-shadow: 0px 0px 5px grey;
  position: absolute;
  animation: float 1s infinite;
  padding: 10px;
  border: solid white;
  width: 20px;
  height: 20px;
  background-color: white;
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 100px 100px 100px 0px;
  transform: rotate(-45deg);
}
.App-header {
  /* background-color: #282c34; */
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
