@import "../Variables/main.scss";
.nav-container{
    margin: 0;
    nav{
        background-color: $main_comp_grey;
        box-shadow: 0px 0px 5px black;
        display: flex;
        justify-content: center;
        gap: 5%;
        a{
        padding: 20px;
        text-decoration: none;
        color: rgb(133, 133, 133);
        }
        .side-nav-btn{
            color: grey;
            font-size: 25px;
            background: none;
            box-shadow: none;
            float: left;
            &:hover{
                box-shadow: none;
                color: $main_txt_white;
            }
        }
        button{
            cursor: pointer;
            border: none;
            margin-top: 8px;
            margin-bottom: 8px;
            border-radius: 3px;
            font-weight: bold;
            font-size: 12px;
            color: $main_txt_white;
            box-shadow: 0px 0px 4px black;
            background-color: rgb(133, 133, 133);
            transition: 0.3s;
            width: 120px;
            &:first-child{
                border-right: 2px rgb(164, 164, 164) solid;
                border-radius: 0px;
                margin-left: 5px;
            }
        &:last-child{
            margin-right: 10px;
        }
        &:hover{
            box-shadow: 0px 0px 2px black;
        }
        }
    }
}